.logo-text {
	font-size: 1.5rem;
}

.header {
	a:visited {
		color: black;
	}
}

.navbar {
	display: flex;
	flex-direction: row;
}

.buttons-flex {
	display: flex;
	flex-direction: row;
}

.btn-info {
	background-color: green;
	margin-right: 20px;
}
