.logo-text {
	font-size: 1.5rem;
}

.header {
	a:visited {
		color: black;
	}
}

.navbar {
	display: flex;
    flex-direction: row;
}

.buttons-flex {
	display: flex;
	flex-direction: row;
}

.btn-info {
	background-color: #28a745;
    border-color: #28a745;
	margin-right: 20px;
}

.btn-info:hover {
	background-color: #1e7e34;;
    border-color: #1e7e34;;
	margin-right: 20px;
}
