.shadow-box{
	border: 1px solid black;
	width: 80%;
	margin: 30px auto;
	border-radius: 3px;
	border-color: green;

	-webkit-box-shadow: 8px 8px 24px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 8px 8px 24px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 8px 8px 24px -10px rgba(0, 0, 0, 0.75);
}

.summary-index-php{
	width: 70%;
	margin: 20px auto!important;

	.btn-secondary{
		background-color: #259e41;;
	}
	
	.card-body{
		text-align: center;
	}
}
@media screen and (max-width: 1100px) {
	.page-body{
		height: 100%;
	}
	.summary-index-php{
		width: 90%;
	}
	.btn-danger{
		height: 40%;
	}
}

@media screen and (max-width: 800px) {
	.summary-index-php{
		width: 90%;
	}
}
@media screen and (max-width: 600px)  {
  .summary-index-php{
	  width: 90%;
  }
}

