.h1-tools{
    margin-top: 50px;
    text-align: center!important;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;

    input {
        width: 50%;
        border-radius: 3px;
    }

    input {
        &:first-child {
            margin-right: 10px;
        }
    }
}

.generate {
    width: 100%;
    margin-top: 10px;
    background-color: #28A745;
    color: white;
}

.btn-danger {
    width: 100%;
    margin-top: 20px;
    background-color: #28A745;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #259e41;

}

